#bonusAreaMain
{
    height: 80%!important;
}

#bonusArea
{
    background-color: #ff5555;
    padding: 1vh 1vw;
}

#bonusImage
{
    width: 100%;
    height: 100%;
    padding: 0px;
}

#countdown
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ff5555;
    color: #ffff55;
    font-size: 12rem;
    line-height: 1rem;
    font-weight: bold;
}

.puzzlePanel
{
    background-color: #ff5555;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    color: #55ff55;
    height: 100%;
    margin: auto;
}

.puzzlePanelUnselected
{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ff5555;
    padding: 1.75%!important;
    display: block;
}

.puzzlePanelInner
{
    width: 100%;
    height: 100%;
    background-color: #55ff55;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzlePanelInnerSVG
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.puzzlePanelInnerText
{
    position: absolute;
    height: 100%;
    width: 100%;
}

.puzzlePanelSelected, .puzzlePanelSelectedWild
{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: none;
}

.puzzlePanelSelected p
{
    text-align: center;
    vertical-align: middle;
}

.puzzlePanelSelected
{
    background-color: black;
}

.puzzlePanelSelectedWild
{
    background-color: #ff5555;
    color: #ff5555;
}

.wildTextPath
{
    font-weight: bold;
    font-size: 4rem;
}

#bonusAreaText
{
    height: 20%;
    color: #ffff55;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

.puzzleBonusPanel
{
    background-image: url("../../img/Car-Panel.png");
    background-size: 100% 100%;
}
