#playAreaMain
{
    height: 80%!important;
}

#playArea
{
    background-color: #ff5555;
    padding: 1vh 1vw;
}

#rebusPuzzle
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.puzzlePanel
{
    background-color: #ff5555;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    color: #55ff55;
    height: 100%;
    margin: auto;
}

.puzzlePanelUnselected
{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ff5555;
    padding: 1.75%!important;
    display: block;
}

.puzzlePanelInner
{
    width: 100%;
    height: 100%;
    background-color: #55ff55;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzlePanelInnerSVG
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.puzzlePanelInnerText
{
    position: absolute;
    height: 100%;
    width: 100%;
}

.puzzlePanelSelected, .puzzlePanelSelectedWild
{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: none;
}

.puzzlePanelSelected p
{
    text-align: center;
    vertical-align: middle;
}

.puzzlePanelSelected
{
    background-color: black;
}

.puzzlePanelSelectedWild
{
    background-color: #ff5555;
    color: #ff5555;
}

.wildTextPath
{
    font-weight: bold;
    font-size: 4rem;
}

#playAreaText
{
    height: 10%;
    color: #ffff55;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

#playAreaSolveRow
{
    height: 10%;
    width: 100%;
}

#solveButtons
{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ffff55;
}

#solveButton, #yesSolveButton, #noSolveButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ff5555;
    height: 100%;
}

#solveButton>div, #yesSolveButton>div, #noSolveButton>div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff55;
    width: 90%;
    height: 80%;
}

#solveButton>div>span, #yesSolveButton>div>span, #noSolveButton>div>span
{
    background-color: #ff5555;
    width: 90%;
    height: 80%;
    margin: auto;
}

#solveButton
{
    width: 100%;
}

#yesSolveButton, #noSolveButton
{
    width: 40%;
}
