#playAreaMain
{
    height: 80%!important;
}

#playArea
{
    background-color: #ff5555;
    padding: 1vh 1vw;
}

#rebusPuzzle
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.puzzlePanel
{
    background-color: #ff5555;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
    color: #55ff55;
    height: 100%;
}

.puzzlePanelUnselected
{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ff5555;
    padding: 1.75%!important;
    display: block;
}

.puzzlePanelInner
{
    width: 100%;
    height: 100%;
    background-color: #55ff55;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzlePanelInnerSVG
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.puzzlePanelInnerText
{
    position: absolute;
    height: 100%;
    width: 100%;
}

.puzzlePanelSelected, .puzzlePanelSelectedWild
{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: none;
}

.puzzlePanelSelected p
{
    text-align: center;
    vertical-align: middle;
}

.puzzlePanelSelected
{
    background-color: black;
}

.puzzlePanelSelectedWild
{
    background-color: #ff5555;
    color: #ff5555;
}

.wildTextPath
{
    font-weight: bold;
    font-size: 1.5rem;
}

#playAreaText
{
    height: 10%;
    color: #ffff55;
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
}

#playAreaSolveRow
{
    height: 10%;
    width: 100%;
}

#solveButton
{
    background-color: #ff5555;
    text-align: center;
    margin: 0rem 6rem;
    padding: 1rem!important;
}

#solveButton div
{
    display: flex;
    width: 100%;
    height: 100%;
    border: 0.5rem solid #ffff55;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffff55;
    font-size: 2rem;
    font-weight: bold;
}
