#stageScene
{
    background: url("../../img/Stage.png") no-repeat center center;
    background-size: 100% 100%;
}

.playerText
{
    font-size: 4rem;
    fill: #ff55ff;
    font-weight: bold;
}

.scoreboardPrizeText
{
    font-size: 3rem;
    fill: #ff55ff;
    font-weight: bold;
}

#characterSelectDialog
{
    left: 30%;
    top: 0px;
    width: 40%;
    height: 100%;
    background-color: #ff5555;
}

#characterSelectDialog>div
{
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background-color: #ffff55;
}

#characterSelectDialog>div>div
{
    left: 2%;
    top: 2%;
    width: 96%;
    height: 96%;
    background-color: #ff5555;
    color: #ffff55;
    font-size: 3rem;
    font-weight: bold;
}

#characterSelectTitle
{
    font-size: 3.5rem;
}

#playerNameTextBox
{
    background-color: black;
    color: #ff55ff;
    font-weight: bold;
    text-transform: uppercase;
}

.characterSelectButton
{
    padding: 0px 2%;
    color: #ff5555;
    background-color: #ffff55;
    width: 47%;
}

#resultText
{
    position: absolute;
    width: 100%;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    bottom: 0px;
    left: 0px;
}
