#bannerContainer
{
    height: 56%;
    width: 100%;
}

#titleBanner
{
    background: url("/img/Title-Splash.png") no-repeat center center;
    background-size: 100% 100%;
}

.titleText, #titleButtons
{
    color: #ffff55;
    font-weight: bold;
    font-size: 3.5rem;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

#titleButtons
{
    height: 40%;
}

#titleButtons .col
{
    background-color: #ff5555;
    text-align: center;
    margin: 6rem;
    padding: 2rem!important;
}

#titleButtons .col div
{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1rem solid #ffff55;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scoreButton
{
    background-color: #2a2a2a!important;
    color: #555555;
}

#scoreButton>div
{
    background-color: #2a2a2a;
    color: #555555;
    border: 1rem solid #555555!important;
}
